

h2{
  width:165px;
  background-color:#FFC8DD;
  font-size: 30px;
}

h3{
  width:132px;
  background-color:#FFC8DD;
  font-size: 30px;
}

h4{
  width: 115px;
  background-color:#FFC8DD;
  font-size: 30px;
}

h5{
  width: 216px;
  background-color:#FFC8DD;
  font-size: 30px;
}

p{
  width: 230px
}
